.venv
chroma_easy_german
.env
/hf_cache
/app/chroma_easy_german/chroma.sqlite3
/app/hf_cache/
/data/__pycache__/
/src/rag/__pycache__/
/src/llm/__pycache__/
/src/embeddings/__pycache__/
/src/agent/__pycache__/
chroma_easy_german/
chroma_easy_german/chroma.sqlite3
chroma_easy_german/chroma.sqlite3
chroma_easy_german/afef94b1-6850-45f6-929a-b8349ed37052/length.bin
